<header class="header">
  <div class="header__inner">
    <div class="header__main">
      <div class="header__logo">
        <img src="../../assets/images/png/logo.png" alt="" class="img img--contain">
      </div>
      <app-search></app-search>
      <span class="filter-btn" (click)="toggleSort()">
      <img src="../../assets/images/svg/filter.svg" alt="" class="img img--contain">
    </span>
    </div>
    <app-user-info></app-user-info>
  </div>
  <app-sort class="sorting" *ngIf="isSortVisible"></app-sort>
</header>
