<div class="form-wrapper">
  <div class="form">
    <h2 class="form__title">Login</h2>
    <div class="form__wrapper">
      <div class="field">
        <span class="field__label">login</span>
        <input type="text" class="field__input" [(ngModel)]="username" name="username">
      </div>
      <div class="field">
        <span class="field__label">password</span>
        <input type="password" class="field__input" [(ngModel)]="password" name="password">
      </div>
    </div>
    <div class="form__btn-wrapper">
      <app-button (click)="login()">Login</app-button>
    </div>
  </div>
</div>

