:root {
  --text: #401406;
  --primary-light: #FFFBF9;
  --primary-dark: #BB5433;
  --primary: #FF835B;
  --primary-100: #FFF2EE;
  --primary-200: #FFE9E1;
  --primary-300: #FFD6C9;
  --primary-400: #FFBBA5;
  --primary-500: #FF9F80;
  --primary-600: #DD6A45;
  --primary-700: #994023;
  --primary-800: #772E16;
  --primary-900: #551E0C;
}


html {
  font-size: 10px;
  color: $text;
  font-weight: $regular;
  font-family: $primary-text;
  scroll-behavior: smooth;
}


.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-light);
  color: var(--text);

  &.dark-theme{
    --text: #FFFBF9;
    --primary-light: #401406;
    --primary-dark: #FF835B;
    --primary: #BB5433;
    --primary-100: #551E0C;
    --primary-200: #772E16;
    --primary-300: #994023;
    --primary-400: #DD6A45;
    --primary-600: #FFBBA5;
    --primary-700: #FFD6C9;
    --primary-800: #FFE9E1;
    --primary-900: #FFF2EE;
  }
}
.main{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}
