//colors
$blue: #1890FF;
$white: #FFFFFF;
$black: #000000;
$green: #52BA56;
$red: #FF5A5A;

$text: #401406;
$primary-light: #FFFBF9;
$primary-dark: #BB5433;
$primary: #FF835B;
$primary-100: #FFF2EE;
$primary-200: #FFE9E1;
$primary-300: #FFD6C9;
$primary-400: #FFBBA5;
$primary-500: #FF9F80;
$primary-600: #DD6A45;
$primary-700: #994023;
$primary-800: #772E16;
$primary-900: #551E0C;

//fonts
$primary-text: "Roboto", sans-serif;

$regular: 400;
$light: 300;
