//colors
$blue: #2F80ED;
$cyan: #5EA2FF;

$white: #FFFFFF;
$black: #000000;
$text: #4F4F4F;
$text-dark: #333333;

$grey: #C4C4C4;
$grey-light: #E5E5E5;
$grey-light-2: #EFEFEF;
$grey-dark: #B1B1B1;

$grey-text: #929292;
$grey-text-2: #DCDCDC;
$grey-text-3: #828282;

$green: #27AE60;
$red: #EB5757;
$yellow: #F2C94C;


//fonts
$primary-text: "Roboto", sans-serif;

$regular: 400;
$bold: 700;
