.group{
  &-container{
    width: calc(50% - 2.1rem);
  }
  &-wrapper{
    display: flex;
    gap: 4.2rem;
    width: 100%;
    max-width: 76.2rem;
    box-sizing: border-box;
    padding: 4rem 1rem 2rem;
    margin: 0 auto;
  }
}
