<div class="message-wrapper my-message">
  <div class="message">
    <div class="message__headline">
      <span class="message__name">John</span>
      <span class="message__date">17.10.2023 3:54</span>
    </div>
    <p class="message__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus luctus at nibh in iaculis. Aenean ut dolor molestie, fringilla justo ut, egestas tellus. Pellentesque tincidunt lobortis tincidunt. Aliquam auctor elit a vehicula iaculis. Duis eu accumsan elit, id pulvinar risus.
    </p>
  </div>
</div>
