@import "../../../../resources/scss/basic/variables";

.profile{
  &-data{
    display: flex;
    flex-direction: column;
    gap: 2.8rem;
  }

  &-line{
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
    @media (max-width: 450px) {
      flex-direction: column;
      align-items: flex-start;
    }
    &__title{
      width: 12.8rem;
      min-width: 12.8rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 1;
      font-size: 1.8rem;
      font-weight: $regular;
      @media (max-width: 450px) {
        font-size: 1.4rem;
      }
    }
    &__data{
      flex-grow: 1;
      width: 100%;
      max-width: 27rem;
      height: 2.6rem;
      line-height: 1;
      box-sizing: border-box;
      padding: .4rem;
      font-family: $primary-text;
      color: var(--text);
      border-bottom: .1rem solid var(--text);
      font-size: 1.8rem;
      font-weight: $light;
      overflow: hidden;
      text-overflow: ellipsis;
      @media (max-width: 450px) {
        font-size: 1.4rem;
      }
      &--error{
        border-color: $red;
      }
      &-wrapper{
        width: 100%;
        max-width: 27rem;
        position: relative;
      }
    }
    &__error{
      font-size: 1rem;
      white-space: nowrap;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
      position: absolute;
      left: 0;
      color: $red;
      line-height: 1;
      top: calc(100% + .2rem);
      @media (max-width: 450px) {
        top: 100%;
        font-size: .9rem;
      }
    }
    &__btn{
      width: 7.2rem;
      min-width: 7.2rem;
      height: 2.4rem;
      border-radius: .5rem;
      cursor: pointer;
      color: $white;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      white-space: nowrap;
      gap: .2rem;
      box-shadow: 0 0 4px 0 rgba($black, .15);
      line-height: 1;
      font-size: 1.2rem;
      &:hover{
        box-shadow: 0 0 0 0 rgba($black, 0);
      }
      &__icon{
        width: 1.4rem;
        min-width: 1.4rem;
        height: 1.4rem;
        font-size: 1.4rem;
      }
      &--load{
        font-size: 0;
        color: transparent;
        position: relative;
        pointer-events: none;
        &:before{
          content: '\e90f';
          font-family: icomoon;
          width: 1.2rem;
          min-width: 1.2rem;
          height: 1.2rem;
          font-size: 1.2rem;
          position: absolute;
          left: calc(50% - .6rem);
          top: calc(50% - .6rem);
          display: inline-flex;
          align-items: center;
          justify-content: center;
          line-height: 1;
          color: $white;
          animation: rotated linear .8s infinite;
        }
      }

      &-wrapper{
        display: inline-flex;
        gap: .5rem;
      }
    }
  }
}
