<div class="profile-data">
  <div class="profile-line">
    <h3 class="profile-line__title">User ID:</h3>
    <span class="profile-line__data">qwertyuiopasdfghjkl1234567890</span>
  </div>
  <div class="profile-line">
    <h3 class="profile-line__title">User Name:</h3>
    <input type="text"
           class="profile-line__data"
           #nameField
           [(ngModel)]="nameValue"
           [readonly]="!isEdit">
    <div class="profile-line__btn-wrapper">
      <button class="profile-line__btn bg-primary" *ngIf="!isEdit" (click)="editMode()">
        <i class="icon-edit profile-line__btn-icon"></i>edit
      </button>
      <button class="profile-line__btn bg-green" *ngIf="isEdit" (click)="saveEdit()">
        <i class="icon-check profile-line__btn-icon"></i>save
      </button>
      <button class="profile-line__btn bg-red" *ngIf="isEdit" (click)="cancelEdit()">
        <i class="icon-close profile-line__btn-icon"></i>cancel
      </button>
    </div>
  </div>
  <div class="profile-line">
    <h3 class="profile-line__title">Email:</h3>
    <span class="profile-line__data">garsteera&#64;gmail.com</span>
  </div>
  <div class="profile-line">
    <h3 class="profile-line__title">Profile Creation:</h3>
    <span class="profile-line__data">2023-11-29 12:44:50</span>
  </div>
</div>
