<div class="group">
  <div class="group__head">
    <div class="group__head-row">
      <h2 class="group-title">
        @if (type === 'group') {
        <i class="group-title__icon icon-group"></i>
        GROUPS
        } @else {
        <i class="group-title__icon icon-user"></i>
        PEOPLE
        }
      </h2>
      <div class="group__head-btn-wrapper">
        <button type="button"
                class="group-btn"
                *ngIf="type === 'group'"
                (click)="toggleModal()">
          <i class="icon-plus group-btn__icon"></i>
          create
        </button>
        <button type="button"
                class="group-btn"
                [disabled]="isUpdate"
                (click)="updateGroupTimer()">
          <i class="icon-update group-btn__icon"></i>
          <span class="group-btn__text">
          @if (timer) {
            {{timer}}
          } @else {
            update
          }
        </span>
        </button>
        <i class="icon-search group-btn-icon" (click)="toggleSearch()"></i>
      </div>
    </div>
    <div class="field" *ngIf="isSearch">
      <input type="text" class="field__input"
       (input)="onInputChange($event)">
    </div>
  </div>
  <div class="group__body">
    @for (item of items; track item) {
      <app-group-card [item]="item" (targetDelete)="updateState()"></app-group-card>
    }
  </div>

  <div class="group-modal-wrapper" *ngIf="isShowModal">
    <span class="group-modal-bg" (click)="toggleModal()"></span>
    <div class="group-modal">
      <h3 class="group-title">
        <i class="icon-plus group-title__icon"></i>
        New group
      </h3>
      <div class="field">
        <label class="field__label" for="group">group name</label>
        <input type="text"
               class="field__input"
               name="group"
               [formControl]="newGroupName"
               (input)="toggleModalBtn()"
               id="group">
      </div>
      <div class="form-btn-wrapper">
        <button type="button"
                class="form-btn-text td-none"
                (click)="toggleModal()">Cancel</button>
        <button type="button"
                class="form-btn"
                [disabled]="isSend || isDisabled"
                [ngClass]="{'form-btn--load': isSend}"
                (click)="createGroup()">Create</button>
      </div>
    </div>
  </div>

  <span class="preloader" *ngIf="isPreloader"></span>
</div>
