<div class="search-item"
     appAgeColor [createdDate]="searchItem.snippet.publishedAt" [cssClass]="'search-item'"
     [id]="searchItem.id">
  <div class="search-item__image-wrapper">
    <div class="search-item__image">
      <picture>
        <source media="(min-width:1920px)" [srcset]="searchItem.snippet.thumbnails.high.url">
        <img [src]="searchItem.snippet.thumbnails.medium.url" [alt]="searchItem.snippet.title" class="img img--cover">
      </picture>
    </div>
  </div>
  <div class="search-item__statistics">
    <div class="statistic-item">
      <div class="statistic-item__image">
        <img src="assets/images/svg/viewed.svg" alt="viewed" class="img img--contain">
      </div>
      <span class="statistic-item__value">{{ searchItem.statistics.viewCount }}</span>
    </div>
    <div class="statistic-item">
      <div class="statistic-item__image">
        <img src="assets/images/svg/liked.svg" alt="liked" class="img img--contain">
      </div>
      <span class="statistic-item__value">{{ searchItem.statistics.likeCount }}</span>
    </div>
    <div class="statistic-item">
      <div class="statistic-item__image">
        <img src="assets/images/svg/dislike.svg" alt="disliked" class="img img--contain">
      </div>
      <span class="statistic-item__value">{{ searchItem.statistics.dislikeCount }}</span>
    </div>
    <div class="statistic-item">
      <div class="statistic-item__image">
        <img src="assets/images/svg/comment.svg" alt="comments" class="img img--contain">
      </div>
      <span class="statistic-item__value">{{ searchItem.statistics.commentCount }}</span>
    </div>
  </div>
  <h3 class="search-item__title" [title]="searchItem.snippet.title">{{ searchItem.snippet.title }}</h3>
  <div class="search-item__btn-wrapper">
    <app-button [routerLink]="['/item', searchItem.id]">more..</app-button>
  </div>
</div>
