<div class="user">
  <div class="user-data">
    <span class="user-data__title">user&#64;mail.com</span>
    <i class="user-data__icon icon-account"></i>
  </div>
  <div class="user-menu-wrapper">
    <ul class="user-menu">
      <li class="user-menu__item">
        <i class="user-menu__icon icon-settings"></i>
        PROFILE
      </li>
      <li class="user-menu__item">
        <i class="user-menu__icon icon-dialog-2"></i>
        MY DIALOGS
      </li>
      <li class="user-menu__item c-red">
        <i class="user-menu__icon icon-logout"></i>
        LOGOUT
      </li>
    </ul>
  </div>

</div>
