@import "../../../../assets/scss/basic/variables";

.user{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: .8rem;
  cursor: pointer;
  &__name{
    font-size: 1.2rem;
  }
  &__ava{
    width: 2.4rem;
    height: 2.4rem;
    border-radius: .5rem;
    background-color: $blue;
    box-shadow: .2rem .2rem .2rem rgba($blue, .25);
    overflow: hidden;
  }
}
