<div class="chat">
  <div class="chat__head">
    <h2 class="chat__title">
      <i class="chat__title-icon icon-user"></i>
      <span class="chat__title-name">USER NAME</span>
    </h2>
    <button type="button" class="chat__update">
      <i class="icon-update chat__update-icon"></i>
      update
    </button>

  </div>
  <div class="chat__body">
    <app-message></app-message>
  </div>
  <div class="chat__footer">
    <textarea class="chat__field"></textarea>
    <i class="icon-send chat__send"></i>
  </div>
</div>
